In [19]:
class Person:
    
    def __init__(self, name, residence):
        self.name = name
        self.residence = residence
        
    def __repr__(self):
        return f'Person("{self.name}", "{self.residence}")'
        
    def tell(self):
        return 'I am %s and I live in %s' % (self.name, self.residence)

    def move(self, new_residence):
        self.residence = new_residence

In [20]:
p = Person('Peter', 'Utrecht')

In [21]:
print(p.tell())

I am Peter and I live in Utrecht

In [22]:
p.move('Amsterdam')
print(p.tell())

I am Peter and I live in Amsterdam

In [23]:
groep = []

groep.append(Person('Peter', 'Utrecht'))
groep.append(Person('Janneke', 'Amsterdam'))
groep.append(Person('Kim', 'Delft'))

groep

[Person("Peter", "Utrecht"),
 Person("Janneke", "Amsterdam"),
 Person("Kim", "Delft")]

In [24]:
namen = ['Peter', 'Janneke', 'Kim']

for naam in namen:
    print(naam)

Peter
Janneke
Kim

In [25]:
for persoon in groep:
    print(persoon.tell())

I am Peter and I live in Utrecht
I am Janneke and I live in Amsterdam
I am Kim and I live in Delft

In [33]:
p = Person('Roy', 'Bennekom')

groep.append(p)

In [34]:
groep

[Person("Peter", "Utrecht"),
 Person("Janneke", "Amsterdam"),
 Person("Kim", "Delft"),
 Person("Roy", "Bennekom")]

In [35]:
getallen = [2,5,3,7,8]

In [36]:
for x in getallen:
    print(x)

2
5
3
7
8

In [37]:
woorden = ['aap','giraf','tijger','leeuw']

In [38]:
for woord in woorden:
    print(woord.upper())

AAP
GIRAF
TIJGER
LEEUW